<div class="location-section">
  <h2 class="visit-heading">COME VISIT US</h2>

  <div class="location-content">
    <div class="map-wrapper">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d684.2003096854005!2d33.356864990432435!3d35.13522208914554!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1744368761267!5m2!1sen!2s"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>

    <ul class="working-hours">
      <li *ngFor="let item of workingHours">
        <strong>{{ item.day }}:</strong> {{ item.hours }}
      </li>
    </ul>
  </div>
</div>
