<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>
<header class="header">
    <div class="header-left">
      <button class="about-btn mr-4">About</button>
      <a href="#available-plans" class="about-btn">
        View Plans
      </a>
    </div>
    
    <div class="header-title">HEALTH AND MOTION GYM</div>
    <div class="header-right">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-tiktok"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
      </div>
  </header>